<header class="page-header">
  <h1>About</h1>
</header>

<h3>Welcome to the Jungle Marketplace</h3>
<br>
<p>Looking for a unique item that you've NEVER seen before? We've got you covered.</p>
<p> Looking for a one of a kind present for a special someone? We've got you covered. </p>

From beds, to skateboards, to spy shoes ... you can find it all here!

Search our amazing <%= link_to 'products here.', :products%>

